@media screen and (min-width: 321px) {

    /*============= MAIN STYLING ======================*/
    #main-header {
        padding: var(--massive-size);
    }

    #main-content {
        grid-template-columns: 1fr 1fr;
        padding: var(--massive-size);
    }
}