/*============= MAIN STYLING ======================*/
#main-header {
    margin: 0px;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr;
}

.presentation,
.health-info-cards {
    padding: var(--small-size);
}

.presentation {
    background-color: #eee;
}

/*------ hero style -------*/
.hero {
    position: relative;
}

.hero h1 {
    width: 100%;
    padding: var(--small-size);
    font-size: var(--small-size);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);

    position: absolute;
    bottom: 0;
}

/*------ presentation style -------*/
.presentation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "title" "desc";
    gap: var(--small-size);
    align-items: stretch;
}

.presentation img {
    grid-area: image;
}

.presentation h2 {
    padding: 0px var(--small-size);
    align-self: center;
    justify-self: start;
    grid-area: title;
}

.presentation table {
    font-size: var(--small-size);
    padding: 0px var(--small-size);
    grid-area: desc;
    border-collapse: separate;
    border-spacing: 0 10px;

}

.presentation td {
    padding: 10px;
}

.presentation td:first-child {
    border-bottom: 1px solid #ddd;
}

.presentation caption {
    caption-side: bottom;
}

/*------ Health Info Cards style -------*/
.health-info-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--small-size);
    margin-bottom: var(--small-size);
}

.health-info-cards .card {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--small-size);
    grid-template-areas: "image" "title" "desc" "button";
    box-shadow: 1px 1px 10px #eee;
}

.health-info-cards .card img {
    grid-area: image;
}

.health-info-cards .card h3 {
    padding: 0px var(--small-size);
    grid-area: title;
}

.health-info-cards .card p {
    padding: 0px var(--small-size);
    font-size: var(--small-size);
    text-align: justify;
    grid-area: desc;
}

@media screen and (max-width: 320px) {
    .presentation tr {
        display: block;
        margin-bottom: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .presentation td {
        display: block;
    }
}