@media screen and (min-width: 321px) {
    #main-header {
        padding: var(--massive-size);
    }

    #main-content {
        padding: var(--massive-size);
    }

    #diseases {
        gap: var(--large-size);
    }

    /*----- tips-card style --------*/
    .disease .tips-card {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image title" "image desc" "image button";
    }

    .disease .tips-card img {
        grid-area: image;
    }

    .disease .tips-card h3 {
        padding: var(--small-size);
        grid-area: title;
    }

    .disease .tips-card ul {
        text-align: justify;
        padding: var(--small-size);
        grid-area: desc;
    }
}