/*============ MAIN STYLING ==============*/
main {
    padding: 1rem;
}

main h1 {
    color: var(--secondary-color);
}

main .menu {
    display: none;
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

main .menu button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}


.grid .card-header {
    text-align: center;
    border-bottom: 2px solid var(--accent-color);
}

.grid .card-header h2 {
    color: var(--secondary-color);
}