/*============ MAIN STYLING ==============*/
main {
    padding: 1rem;
}

main h1 {
    color: var(--secondary-color);
}

main .menu {
    display: none;
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

main .menu button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid .card {
    border-radius: 10px;
    box-shadow: 0px -1px 5px var(--accent-color);
    padding: 1rem;
    text-align: center;
}

.grid h2 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--accent-color);
}

.grid .card img {
    width: 150px;
    height: auto;
    padding-bottom: 1rem;
}

.grid a {
    color: var(--text-color);
}

.grid p span {
    font-weight: 700;
    color: var(--prim);
}