/*============= MAIN STYLE ============== */
main {
    padding: 1rem;
}

#result {
    padding: 1rem;
}

section h2 {
    text-align: justify;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--accent-color);
    font-size: 1.5rem;
}

#result p {
    padding: 0.5rem 1rem;
}