/* https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
:root {
    --primary-color: #14213D;
    --secondary-color: #FCA311;
    --accent-color: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.card {
    border: 1px solid var(--accent-color);
    border-radius: 0.5em;
    box-shadow: 10px 10px 50px var(--accent-color);
    margin-bottom: 10px;
}

.card-header {
    background-color: var(--primary-color);
    border-radius: 0.5em;
    padding: 1em;
    color: #fff;
    text-align: center;
}

.card-body {
    padding: 1em;
}

.btn {
    border-radius: 0.5em;
}

p {
    text-align: justify;
}

dialog {
    border: none;
    border-radius: 10px;
}

/*==============  header styling ==============*/
header {
    position: relative;
    min-width: 100%;
}

.top-header {
    background-color: var(--primary-color);
    padding: 1em;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header img {
    width: 80px;
    height: 80px;
}

.top-header span {
    display: block;
    margin-left: 10px;
    font-size: 2em;
}

/* ------- hamburger ---------*/
#menu::before {
    content: "☰";
}

#menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
}

.open a {
    display: block;
}

#menu.open::before {
    content: "X";
}

/* ------- main menu ---------*/
nav {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
}

nav a {
    display: none;
    text-align: center;
    padding: 10px;
    color: #000;
}

nav a.active,
nav a:hover {
    background-color: #FCA311;
}

/*==============  main styling ==============*/
main {
    padding: 1em;
}

main>h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
}

/* ------- block 1 ---------*/

.block1 .card-body ul li::before {
    content: "✅";
}

.card-body ul>li {
    margin-bottom: 1em;
}

.block1 .card-body img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
}

/* ------- block 2 ---------*/
.block2 .subject-nav {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;

    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.btn-subject {
    background-color: #000;
    padding: 0.2rem 2rem;

    display: inline-block;
    font-size: 16px;
    color: #fff;
}

.totalCredit {
    text-align: end;
    padding-top: 1em;
}

/*         course ---------*/
.course {
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.course-header {
    color: #000;
}

.btn-course {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 2rem;
    display: block;
    width: 100%;
}

.complete {
    background-color: var(--secondary-color);
}

.not-complete {
    background-color: var(--accent-color);
}


#dialogBox {
    position: fixed;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
}

#dialogBox .dialog-header {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: var(--primary-color);
    align-items: center;
    padding: 0.5rem;
}

#dialogBox .dialog-header h2 {
    text-align: center;
    color: #fff;
}

#dialogBox .dialog-header button {
    border: none;
    background-color: var(--accent-color);
    padding: 0.6rem;
    border-radius: 5px;
    color: #FF0000;
    font-weight: 700;
}

#dialogBox .dialog-body {
    padding: 1rem;
}

#dialogBox .dialog-body h3 {
    padding-top: 1em;
    color: var(--primary-color);
}

#dialogBox .dialog-body .credit {
    color: var(--primqry-color);
    padding-bottom: 1em;
}

#dialogBox .dialog-body .credit>span {
    font-weight: bold;
}

#dialogBox .dialog-body .desc {
    padding-bottom: 1em;
}

#dialogBox .dialog-body .tech {
    padding: 0.5em;
    border-top: 2px solid var(--accent-color);

    font-weight: bold;
    color: var(--primary-color);
}

#dialogBox .dialog-body .tech ul li::before {
    content: "✓";
    margin-right: 5px;
}


::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/*==============  footer styling ==============*/
footer {
    background-color: var(--secondary-color);
    padding: 1.5em;

    font-size: 14px;
    color: #000;
}

footer p {
    text-align: center;
}